ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: #312d60;
  margin:2rem;
}


.l1, .l2, .l3{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.l1:hover, .l2:hover, .l3:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
